<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tag for sco & responsiveness of website -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="health care">
    <meta name="author" content="Ayush garg">
    <meta name="description" content="This is best website for you on the basis of health care.we provide best health care">
    <!-- Title of website -->
    <title>👨🏾‍⚕️ HealthCare</title>
    <!-- setup css files -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Setup js file -->
    <script defer src="app.js"></script>
</head>

<body>
    {{!-- Start Navbar --}}
   {{>navbar}}
   {{!-- End Navbar --}}

     <!-- strat Home section -->
     <main>
        <div class="main-container">
            <div class="info">
                <h1>we'll take care of <span>your health</span></h1>
                <p>Providing you the best medical service that all of you can trust. We will give you the most advanced and coordinated care. Our website is trusted source of medical information, covering a wide range of topics, from common illinesses </p>
                <div class="main-link">
                    <a href="#contact">book an appointment</a>
                     <a href="/contact" style="background-color:red; color:white;">Emergency Case</a>
                </div>
            </div>
            <div class="main-img">
                <img src="./img/doctor-g3061ce14b_1920.png" alt="" srcset="">
            </div>
        </div>  
     </main>
     <!-- end Home section  -->

     <!-- About section -->
     <section class="about-section" id="about">
        <div class="heading">
            <h1 class="main-heading">about us</h1>
            <div class="line"></div>
        </div>
        <div class="about-container">
            <div class="main-img">
                <img src="./img/healthImg/img project  heath/doctors .jpg" alt="" srcset="">
            </div>
            <div class="about-info">
                <h1>Welcome to <span>AyuCare</span></h1>
                <p>We understand the importance of convenience and accessibility when it comes to managing your healthcare. That's why we've streamlined the appointment booking process to make it effortless and stress-free. With just a few clicks, you can secure your spot with a trusted healthcare provider and take control of your well-being.</p>
                <ul>
                    <li><i class="fa-solid fa-truck-medical"></i>emergency services</li>
                    <li><i class="fa-sharp fa-solid fa-hand-holding-medical"></i>free heatlh tips</li>
                    <li><i class="fa-sharp fa-solid fa-stethoscope "></i> modern technology</li>
                </ul>
                <div class="about-link">
                    <a href="/services">more about us</a>
                </div>
            </div>
        </div>  
    </section>
     <!-- About section -->

    <!-- Strat doctor section -->
    <section class="doctor-section" id="doctor">
        <div class="s-heading">
            <h1 class="main-heading">specialist docter's</h1>
            <div class="s-line"></div>
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="box">
                    <img src="./doctors/Dr Arvinder Singh Soin.png" alt="">
                    <h1>Dr Arvinder Singh</h1>
                    <h4>Neurologist</h4>
                    <din class="links">
                        <a href=" https://www.instagram.com/arvindersoin/?hl=en"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.instagram.com/arvindersoin/?hl=en"><i class="fa-brands fa-square-facebook"></i></a>
                        <a href="https://www.facebook.com/arvindersinghsoin/"><i class="fa-brands fa-square-twitter"></i></a>
                    </din>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src="./doctors/amit agarwal.png" alt="">
                    <h1>amit agarwal</h1>
                    <h4>Dermatologists</h4>
                    <din class="links">
                        <a href=" https://www.facebook.com/DrPuneetGirdhar/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.instagram.com/dr.puneet.girdhar/?hl=en"><i class="fa-brands fa-square-facebook"></i></a>
                        <a href="https://twitter.com/drpuneetspine?lang=en"><i class="fa-brands fa-square-twitter"></i></a>
                    </din>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src="./doctors/Dr Ajay Kaul.png" alt="">
                    <h1>Dr Ajay Kaul</h1>
                    <h4>cardiologists</h4>
                    <din class="links">
                        <a href=" https://twitter.com/dr_ritabakshi?lang=en"><i class="fa-brands fa-instagram"></i></a>
                        <a href=" https://www.facebook.com/drritabakshi.in/"><i class="fa-brands fa-square-facebook"></i></a>
                        <a href="https://www.instagram.com/drrita_bakshi/?hl=en"><i class="fa-brands fa-square-twitter"></i></a>
                    </din>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src="./doctors/Dr Puneet Girdhar.png" alt="">
                    <h1>Dr Puneet Girdhar</h1>
                    <h4>surgeon</h4>
                    <din class="links">
                        <a href="https://www.facebook.com/DrPuneetGirdhar/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://twitter.com/drpuneetspine?lang=en"><i class="fa-brands fa-square-facebook"></i></a>
                        <a href="https://www.instagram.com/dr.puneet.girdhar/?hl=en"><i class="fa-brands fa-square-twitter"></i></a>
                    </din>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src="./doctors/Dr Rita Bakshi.png" alt="">
                    <h1>Dr Rita Bakshi</h1>
                    <h4>radiologist</h4>
                    <din class="links">
                        <a href=" https://twitter.com/dr_ritabakshi?lang=en"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.facebook.com/drritabakshi.in/"><i <i class="fa-brands fa-square-facebook"></i></a>
                        <a href=" https://www.instagram.com/drrita_bakshi/?hl=en"><i class="fa-brands fa-square-twitter"></i></a>
                    </din>
                </div>
            </div>
            <div class="swiper-slide"> <div class="box">
                <img src="./doctors/Dr Vaishali Sharma .jpg" alt="">
                <h1>Dr Vaishali Sharma</h1>
                <h4>gynecologist</h4>
                <din class="links">
                    <a href="https://www.instagram.com/drvaishalisharma/?hl=en"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.facebook.com/drvaishalisharmamdgynaeaiims/"><i <i class="fa-brands fa-square-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/vaishali-sharma-032578160/?originalSubdomain=in"><i class="fa-brands fa-square-twitter"></i></a>
                </din>
            </div></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <!-- end doctors section -->

    <!-- Start contact section -->
    <section class="contact-section" id="contact">
        <div class="s-heading">
            <!-- <i class="fa-sharp fa-solid fa-stethoscope "></i> -->
            <h1 class="main-heading">make appointment</h1>
            <div class="s-line"></div>
        </div>
        <div class="img-form">
            <div class="contact-img">
                <img src="./img/contact.jpg" alt="">
                <h2>If you have an emargency case : <span><a href="./contact" target="__ayush">click</a></span></h2>
            </div>
            <form action="/" method="POST">
                <div class="fg">
                    <label for="">name :</label>
                    <input type="text" name="name" placeholder="Enter Your Name" required autocomplete="off">
                </div>
                <div class="fg">
                    <label for="">email :</label>
                    <input type="email" name="email" placeholder="Enter Your Email" required autocomplete="off">
                </div>
                <div class="fg">
                    <label for="">phone :</label>
                    <input type="number" aria-required="true" placeholder="Enter Your Mobile No." name="phone" required autocomplete="off">
                </div>
                <div class="fg">
                    <label for="">date</label>
                    <input type="date" name="date" required autocomplete="off">
                </div>
                <div class="fg">
                    <label for="">doctor : </label>
                    <div class="dgp">
                        <div class="dg">
                            <input type="radio" value="Neurologist" name="dtype" id="a">
                            <label for="">Neurologist</label>
                        </div>
                        <div class="dg">
                            <input type="radio" value="Cardiologist" name="dtype" id="a">
                            <label for="">Cardiologist</label>
                        </div>
                        <div class="dg">
                            <input type="radio" value="Surgeon" name="dtype" id="a">
                            <label for="">Surgeon</label>
                        </div>
                    </div>
                     <div class="dgp">
                        <div class="dg">
                            <input type="radio" value="Radiologist" name="dtype" id="a">
                            <label for="">Radiologist</label>
                        </div>
                        <div class="dg">
                            <input type="radio" value="Gynecologist" name="dtype" id="a">
                            <label for="">Gynecologist</label>
                        </div>
                        <div class="dg">
                            <input type="radio" value="Pathologist" name="dtype" id="a">
                            <label for="">Pathologist</label>
                        </div>
                    </div>
                        
                </div>
                <button type="submit" class="form-btn">Submit now</button>
            </form>
        </div>
      
     </section>
     <!--End contact section  -->

    <!-- Strat Insurance section -->
     <section class="insurance-section">
        <div class="s-heading">
            <h1 class="main-heading">Insuranse services </h1>
            <div class="s-line"></div>
        </div>
        <div class="insurance">
             <div class="ins1">
                <img src="./img/insurance list/img/reliance heath insurance.jpg" alt="">
                <p>Reliance Health Insurance, a subsidiary of Reliance General Insurance, is a leading health insurance provider in India. With a focus on customer-centricity and comprehensive coverage, Reliance Health Insurance offers a range of health insurance plans to individuals, families, and businesses.</p>
                <a href=" https://www.reliancegeneral.co.in/Insurance/Health-Insurance.aspx" target="__ayush">check now</a>
            </div>
            <div class="ins1">
                <img src="./img/insurance list/img/Aditya Birla.jpg" alt="">
                <p>Aditya Birla Health Insurance is a prominent insurance provider that offers a range of health insurance products and services. Aditya Birla Health Insurance aims to provide comprehensive coverage and quality healthcare solutions to individuals and families. Here are some key features and offerings of Aditya Birla Health Insuranc</p>
                <a href="https://www.adityabirlacapital.com/healthinsurance/campaign/longer?utm_source=google&utm_medium=cpc&utm_campaign=784092627&utm_term=aditya%20birla%20insurance&utm_content=386429568881&source=google_brand_product&campaign=784092627&adgroup=49076749385&keyword=aditya%20birla%20insurance&gad=1&gclid=Cj0KCQjwjryjBhD0ARIsAMLvnF9cr2HQosmLt0nbTNhzhAwz_cYqhx4MTnUPdBL5lfNHkCejgcgGqwsaAqJaEALw_wcB" target="__abhi">check now</a>
            </div>
            <div class="ins1">
                <img src="./img/insurance list/img/eaf1ebfe-37dc-49af-ab6c-9a2a6afd058b.jpg" alt="">
                <p>HDFC Health Insurance, a subsidiary of HDFC Limited, is a prominent insurance provider in India. It offers a wide range of health insurance plans to cater to the diverse needs of individuals, families, and corporates. HDFC Health Insurance focuses on providing comprehensive coverage, innovative features.</p>
                <a href=" https://www.hdfcergo.com/campaigns/health-insurance-detail-new?&utm_source=google_search&utm_medium=cpc&utm_campaign=Health_Search_Brand_Neev-Phrase&utm_adgroup=Generic-Insurance&adid=600995663951&utm_term=hdfc%20health%20insurance&utm_network=g&utm_matchtype=p&utm_device=c&utm_location=9151663&utm_sitelink={sitelink}&utm_placement=&ci=googlesearch&SEM=1&gad=1&gclid=Cj0KCQjwjryjBhD0ARIsAMLvnF8J5pTlL8uldHnPIeWPgnC0StLdm9ufY7K1G1xXcBrwfSibV9zDyRQaAoMzEALw_wcB" target="__hdfc">check now</a>
            </div>
            <div class="ins1">
                <img src="./img/insurance list/img/2d57c4ed-4238-4b9d-8cf2-482350236d73.jpg" alt="">
                <p>We, at SBI General Insurance, are committed to carry forward the legacy of trust and security; and have a vision to become the most trusted general insurer for a transforming India.SBI Health Insurance aims to provide comprehensive coverage and quality healthcare solutions to individuals, families, and corporate groups.</p>
                <a href="https://www.sbigeneral.in/health-insurance/health-edge-insurance?utm_source=google&utm_medium=cpc&utm_campaign=pt-google-sbig-health-gs-lead-brand-em-in-all-23-Feb-23&utm_content=health-em&gclid=Cj0KCQjwjryjBhD0ARIsAMLvnF_yDJ4dBqV2ByiczW9FeJYQncz3-wrGJw8OtRi5rEo2WyFmRZ6y7rcaAr-OEALw_wcB" target="__sbi">check now</a>
            </div>
            <div class="ins1">
                <img src="./img/insurance list/img/f94f802d-67e6-4998-a82a-b2e8e56880fe.jpg"alt="">
                <p>ICICI Health Insurance, a subsidiary of ICICI Lombard General Insurance Company Limited, is a leading health insurance provider in India. With a wide range of health insurance plans, ICICI Health Insurance aims to provide comprehensive coverage and quality healthcare solutions to individuals, families, and corporate groups. </p>
                <a href="  https://www.icicilombard.com/health-insurance" target="__icici">check now</a>
            </div>
              <div class="ins1">
                <img src="./img/insurance list/img/cfcd659c-3301-4a12-a411-db31bc67c62b.jpg" alt="">
                <p>Star Health and Allied Insurance Co. Ltd. is an Indian health insurance company headquartered in Chennai. They began their operations in 2006 as India's first standalone Health Insurance provider. Star Health Insurance offers innovative services and products in health, personal accident.</p>
                <a href=" https://web.starhealth.in/customerportal/login" target="__star">check now</a>
            </div>
        </div>
     </section>
     <!-- End Insurance section -->

    {{!-- Start Footer --}}
    {{>footer}}
    {{!-- End Footer --}}

 
    <!-- start slideTop -->
    <div class="scroller" id="scroller">⬆</div>
    <!-- end slideTop -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    </body>
</html>





































     <!-- start Services section -->
     {{!-- <section class="services-section" id="service">
        <div class="s-heading">
            <i class="fa-sharp fa-solid fa-stethoscope "></i>
            <h1 class="main-heading">Our Spacial services</h1>
            <div class="s-line"></div>
        </div>
        <div class="services">
            <div class="service1">
                <img src="./img/healthImg/img project  heath/nurse.png" alt="" srcset="">
                <h2>Dental carer</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="service1">
                <img src="./img/healthImg/img project  heath/nurse.png" alt="" srcset="">
                <h2>Dental carer</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="service1">
                <img src="./img/healthImg/img project  heath/nurse.png" alt="" srcset="">
                <h2>Dental carer</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                
            </div>
            <div class="service1">
                <img src="./img/healthImg/img project  heath/nurse.png" alt="" srcset="">
                <h2>Dental carer</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                
            </div>
            <div class="service1">
                <img src="./img/healthImg/img project  heath/nurse.png" alt="" srcset="">
                <h2>Dental carer</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
               
            </div>
            <div class="service1">
                <img src="./img/healthImg/img project  heath/nurse.png" alt="" srcset="">
                <h2>Dental carer</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
               
            </div>
        </div>
        <div class="services-btn">
            <a href="./services.html">View More services</a>
        </div>
     </section> --}}
     <!-- end of services section-->

