<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Linking CSS File index.css -->

    <link rel="stylesheet" href="services.css">

    <title>Our Services</title>
</head>

<body>
    {{>navbar}}
    {{!-- End  Nevbar Section --}}
     <div class="container-fluid" style="margin-bottom: 50px;">
        <h1 class="text-center mt-5 display-3 fw-bold">Our <span class="theme-text">Services</span></h1>
        <hr class="mx-auto mb-5 w-25">
        <div class="row mb-8 " style="grid-gap: 31px;">
            <div class="col-12 col-sm-12 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="./services logo/cardiology.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center">Cardiology</h3>
                        <hr class="mx-auto w-75">
                        <p>Cardiologists provide a range of services related to the diagnosis, treatment, and management of heart,blood thinners, beta-blockers,and vascular conditions.
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="./services logo/3.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center">Lab Tests at Home</h3>
                        <hr class="mx-auto w-75">
                        <p>
                            Lab tests at home offer a variety of services to patients such as Blood Collection,Sample Transportation and Urine and Stool Collection.
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="./services logo/WhatsApp Image 2023-05-25 at 21.57.36.jpeg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center">Health Insurance</h3>
                        <hr class="mx-auto w-75">
                        <p>
                            Health insurance helps individuals and families pay for medical expenses. It is designed to protect against the high costs of healthcare services.
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
            <!-- col ends here -->
            <!-- col ends here -->
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="./services logo/Dermatologist.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center">Dermatology</h3>
                        <hr class="mx-auto w-75">
                        <p>
                            Dermatologists provide a wide range of services related to the diagnosis, treatment, and management of conditions affecting the skin, hair, nails, and mucous membranes
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
             <!-- col ends here -->
             <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="./services logo/eye.png" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center">Eye Care</h3>
                        <hr class="mx-auto w-75">
                        <p>
                            Eye care services encompass a range of specialized services focused on maintaining and improving eye health, as well as addressing vision-related concerns.
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
             <!-- col ends here -->
             <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="/services logo/nerologist.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center">Nerologist</h3>
                        <hr class="mx-auto w-75">
                        <p>
                            Neurologists are medical doctors who specialize in the diagnosis, treatment, and management of conditions related to the central and peripheral nervous systems.
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
            <!-- col ends here -->
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="./services logo/Pathologist.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center">Pathologist</h3>
                        <hr class="mx-auto w-75">
                        <p>
                            Pathologists are medical doctors who specialize in the study and diagnosis of diseases by examining samples of tissues, cells, and body fluids. 
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
            <!-- col ends here -->
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="/services logo/radiographer.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center">Radiographer</h3>
                        <hr class="mx-auto w-75">
                        <p>
                            Radiographers are healthcare professionals who specialize in performing medical imaging procedures using various imaging technologies.
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
             <!-- col ends here -->
             <div class="col-12 col-sm-6 col-md-3 m-auto">
                <!-- card starts here -->
                <div class="card shadow">
                    <img src="./services logo/surgen.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="text-center">Surgen</h3>
                        <hr class="mx-auto w-75">
                        <p>
                            Surgeons are medical doctors who specialize in performing surgical procedures to treat diseases, injuries, and various medical conditions.
                        </p>
                    </div>
                </div>
                <!-- card ends here -->
            </div>
            <!-- col ends here -->
        </div>
    </div>
    {{!-- Strat of footer section --}}
    {{>footer}}
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

</body>

</html>