<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
    <link rel="stylesheet" href="video.css">
</head>
<body>

    {{>navbar}}

    <section class="video-section">
        <div class="video-box">
            <div class="vg">
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/RDFzhhhm8Js" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="txt">
                    <h1>Natural Way to Lower Blood Pressure :</h1>
                    <p>Some examples of aerobic exercise that can help lower blood pressure include walking, jogging, cycling, swimming or dancing. Another possibility is high-intensity interval training. This type of training involves alternating short bursts of intense activity with periods of lighter activity</p>
                </div>
            </div>

            <div class="vg">
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SdxnHXDBOV4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="txt">
                    <h1>Natural Way to Control your Diabetes :</h1>
                    <p>Knowing how to reduce your blood sugar levels naturally is key to managing prediabetes or diabetes. Consider actions such as exercising regularly, eating more fiber, incorporating more snacks, and increasing your probiotic intake.</p>
                </div>
            </div>

            <div class="vg">
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/dr-LjK6BpFQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="txt">
                    <h1>how to cure your eye your healthy :</h1>
                    <p>Palming is a yogic eye exercise, suggesting relaxing the muscles around the eyes, reducing eye fatigue.</p>
                </div>
            </div>


            <div class="vg">
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/HLX2KLjv3is" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="txt">
                    <h1>how to cure digestive your system:</h1>
                    <p>Maintaining a healthy digestive system is important for overall well-being and optimal nutrient absorption. Here are some key steps to help you control and support a healthy digestive system</p>
                </div>
            </div>


            <div class="vg">
                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YoSuVws4OTQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="txt">
                    <h1>Natural Way to control your Stress:</h1>
                    <p>Stress is a normal part of life, but excessive or chronic stress can have negative effects on both mental and physical health. Here are some strategies to help control and manage stress</p>
                </div>
            </div>

        </div>
    </section>


    {{>footer}}
</body>
</html>