<link rel="stylesheet" href="style.css">
 <!-- footer section -->
  <footer>
    <div class="big-footer">
        <div class="footer-links">
            <h2>about</h2>
            <p>Providing you the best medical service that all of you can trust. We will give you the most advanced and coordinated care.</p>
        </div>
        <div class="footer-links">
            <h2>links</h2>
            <a href="/#home">home</a>
            <a href="/#about">about</a>
            <a href="/services">services</a>
            <a href="/contact">contact</a>
            <a href="/tip">wellness-Event</a>
        </div>
        <div class="footer-links">
            <h2>follow me</h2>
            <a href="https://www.instagram.com/ayu.healthcare/">instagram</a>
            <a href="https://www.facebook.com/profile.php?id=100092662404515">facebook</a>
            <a href="https://www.linkedin.com/in/ayu-healthcare-137612278/">linkedin</a>
            <a href="https://www.linkedin.com/in/ayu-healthcare-137612278/">twitter</a>
        </div>
        <div class="footer-links">
            <h2>contact me</h2>
            <a href="tel:+8587968190">+836-2355-165</a>
            <a href="tel:+8362355165">+858-2355-890</a>
            <a href="mailto:ayush501garg@gmail.com">ayush501garg@gmail.com</a>
        </div>
        </div>
        <div class="follow">
            <a href="https://www.instagram.com/ayu.healthcare/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100092662404515"><i class="fa-brands fa-facebook"></i></i></a>
            <a href="https://www.linkedin.com/in/ayu-healthcare-137612278/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <p>Creaded By Ayush Garg &copy; 2023-2024</p>
    </footer>
<!-- End of footer -->